<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p role="alert">Aguarde Monstro...</p>
                </Authorizing>
                <NotAuthorized>
                    <p role="alert">Não tem acesso monstro, faça o login primeiro!</p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Não está aqui monstro!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>